*{
    margin: 0;
    padding: 0;
}

.main-menu{
    background-color: #1abc9c;
    text-align: center;

}
.main-menu ul{

}
.main-menu ul li{
    display: inline-block;
    border-right: 2px solid #ddd;
    
    
}
.main-menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 15px 20px;
    margin-left: -4px;
}

.main-menu ul li:first-child a{
    border-left: 2px solid #ddd;
}

.main-menu ul li a:hover {
    background-color: #16a085;
}

